.brand-view {
    width: 100%;
    display: flex;
    justify-content: center;

    &__content {
        width: 100%;
        height: calc(100% - 48px);
        padding: 24px;
        color: #fff;
        background-color: rgb(84, 84, 84);
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }

    &__content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
    }

    &__content-logo {
        width: 40px;
        height: 40px;
        background-size: cover;
        background-position: center;
    }

    &__content-title {
        margin: 0;

        @media (max-width: 640px) {
            font-size: 24px;
        }
    }

    &__content-body {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: calc(100% - 64px);

        @media (max-width: 640px) {
            border-radius: 4px;
            overflow: auto;
            justify-content: start;
            flex-direction: column;
        }
    }

    &__content-body-description-wrap {
        padding: 24px;
        width: 30%;
        border-radius: 4px;
        height: calc(100% - 48px);
        margin-right: 24px;
        background-color: rgb(103, 102, 102);

        @media (max-width: 640px) {
            padding: 18px;
            width: calc(100% - 36px);
            margin: 0 0 18px 0;
            height: auto;
        }

        @media (max-width: 400px) {
            padding: 12px;
            width: calc(100% - 24px);
        }
    }

    &__content-body-description-title {
        margin: 0 0 24px;

        @media (max-width: 640px) {
            font-size: 20px;
            margin: 0 0 18px;
        }

        @media (max-width: 400px) {
            margin: 0 0 12px;
        }
    }

    &__content-body-descriptions-wrap {
        max-height: 100%;
        height: calc(100% - 52px);
        overflow: auto;
        display: flex;
        align-content: center;
        flex-wrap: wrap;

        @media (max-width: 640px) {
            height: auto;
        }
    }

    &__content-body-descriptions {
        min-height: auto;
    }

    &__content-brand-description {
        margin: 0 0 24px;
    }

    &__content-offers-description {
        margin: 0 0 24px;

        @media (max-width: 640px) {
            margin: 0 0 18px;
        }

        @media (max-width: 400px) {
            margin: 0 0 12px;
        }
    }

    &__content-slider-wrap {
        width: 70%;
        height: calc(100% - 48px);
        border-radius: 4px;
        background-color: rgb(103, 102, 102);

        @media (max-width: 640px) {
            width: calc(100% - 36px);
            height: auto;
        }

        @media (max-width: 400px) {
            width: calc(100% - 24px);
        }
    }

    &__content-slider {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        height: inherit;
    }

    &__content-body-slider-title {
        margin: 0 0 24px;

        @media (max-width: 640px) {
            font-size: 20px;
            margin: 0 0 18px;
        }
    }

    &__slide-content {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px;
    }

    &__slide-title {
        margin: 0;
        padding: 12px;
        border-radius: 4px;
        background-color: rgba(103, 102, 102, 0.621);
    }

    &__slide-description {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        border-radius: 4px;
        background-color: rgba(103, 102, 102, 0.621);
    }

    &__slide-description-text {
        max-width: 80%;
    }
}